body{
padding: 0;
margin: 0;
font-family: 'Roboto', sans-serif;
font-weight: 400;
font-size: 24px;
}
.bg {
    position: fixed;
    height: 100%;
    width: 100%;
    background: linear-gradient(128deg, #FFF 19.65%, #D9D2D2 34.09%, #988686 83.28%);
}




.nav{
    display:flex;
}

.menu{
    display: flex;
    margin-top: 0px;
    margin-bottom: 0px;
}

.bold{
    font-family: 'Roboto', sans-serif;
    font-weight:700 ;
}

li{
    list-style: none;
}

.t-link{

    margin-right: 215px;
    margin-top: 56px;
}

.logo{
    margin-top: 48px;
    margin-left: 315px;
    margin-right: 30px;
    height: 70px;
    width: 70px;
}

li p{
    margin-right: 83px;
    margin-top: 69px;
}

#coordinates{
    margin-left: 315px;
    margin-top: 165px;

}